body{
    background-color: rgb(115, 175, 186);
    }
    h1{
    color: rgb(227, 15, 15);
    font-size: 2.5rem;
    }
    I
    h3{
    color: rgb(245, 238, 238);
    font-size: 1.5rem;
    }
    pl
    color: blue;
    font-size: 1rem;
    }
    button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color:red;
    }